@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #111111;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .default-box {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }

  .small-box {
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: theme(screens.md)) {
    .default-box {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @media screen and (min-width: theme(screens.2xl)) {
    .default-box {
      max-width: 1333px;
      padding-left: 0;
      padding-right: 0;
    }

    .small-box {
      max-width: 735px;
    }
  }
}
